#friends-display-link {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  position: fixed;
  top: 108px;
  z-index: 1;
  padding: 15px 0px;
}

#friends-display-link i {
  color: #d5d5d5;
}

#friends-display-link i:first-child {
  margin-right: 7px;
}

#friends-display-link i:last-child {
  margin-left: 10px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  position: absolute;
  top: 166px;
  width: 100%;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
