#no-mobile {
  position: absolute;
  z-index: 99;
  height: inherit;
  width: 100vw;
  background-color: var(--main-yellow);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#no-mobile span {
  position: fixed;
  top: 50vh;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
