.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px var(--horizontal-space) 15px var(--horizontal-space);
  position: fixed;
  top: 26px;
  width: 100%;
  z-index: 1;
  background-color: inherit;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons {
  position: relative;
}

span + .dot-badge {
  position: absolute;
  left: 65px;
  bottom: 15px;
}
