.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: fixed;
  top: 36px;
  width: 100%;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
